
@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  body {
    background: #ccc;
  }
  option { background-color: #ff0000 !important; }
  button { background-color: LightGreen !important;
  	   border-radius: 25%;
  	 }
}

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
	.main { float: left; width:60%; }
	.sidebar { float: left; width:40%; }
	option { background-color: #00ff00 !important; }
	button { background-color: #ff00ff !important;
	   	 border-radius: 50%;
		}
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
	.main { width:70%; }
	.sidebar { width:30%; }

	/* You can also tweak any other styles in a breakpoint */
	option { background-color: lightblue !important; }
	button { background-color: #00ffff !important;
	   	 border-radius: 100%;
		}
}

.appmasterpanel0
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: static !important;
	height: 15% !important;
	width: 100% !important;
}

.appmasterpanel1
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: static !important;
	height: 15% !important;
	width: 100% !important;
}

.appmasterpanel2
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: static !important;
	height: 15% !important;
	width: 100% !important;
}

.appmasterpanel3
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: static !important;
	height: 45% !important;
	width: 100% !important;
	align-self: center !important;
}

.appmasterpanel4
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: static !important;
	height: 10% !important;
	width: 100% !important;
}

.appmasterbutton
{
	position: relative !important;
	margin: auto !important;	
	height: 3em !important;
	width: 7em !important;
}

.radio
{
	margin: auto !important;
}

.radio input
{
	float: left !important;
	margin: auto !important;
}

.radio label
{
	font-weight: bold;
}

.appmasterstattext
{
	margin: auto !important;
	font-weight: bold !important;
}

.appmasterheader
{
	margin: auto !important;
	align-self: center;
	width: 24em !important;
	max-width: 100% !important;
	border-radius: 10%;
}

.appmasterheader h1
{
	max-width: none !important;
}

.appmasterfooterst
{
	position: relative !important;
	margin: auto !important;
	font-weight: bold !important;
	background-color: #ff0000 !important;
}

.appmastercombo
{
	margin: auto !important;
	font-weight: bold !important;
}

.appmasterversionst
{
	margin: auto !important;
	font-weight: bold !important;
}
