[Version]

VERSION=10.6
PRODUCT=PWSWIN

[Environment]

#==============================================================================
#
# PL/B Runtime Configuration
#
#==============================================================================

PLB_TERM=ansi
PLB_SYSTEM=\Sunbelt\plbwebsrv.106\code\
# PLB_SYSTEM=/home/plbweb.106/code/

#...............................................................................
# Path for searching for files and programs.  Same definition as for PLBWIN
#
PLB_PATH=\Sunbelt\plbwebsrv.106\code;\Sunbelt\plbwebsrv.106\demo;\Sunbelt\plbwebsrv.106\demo\programs
# PLB_PATH=/home/plbweb.106/code;/home/plbweb.106/demo;/home/plbweb.106/demo/programs

# PLB_DYNAMICLOADMOD=OFF

# PLB_DEBUG=OND4


#...............................................................................
# This keyword allows a user to specify how long the PLBSERVE/PLBWIN runtime
# should wait when a Windows ERROR_LOCK_VIOLATION occurs while executing an OS
# read or write operation.  Please see the Application Server Reference for
# more information on this keyword.
#
# PLB_ERRLOCKTIMEOUT={seconds}

PLBWIN_WINHIDE=1

# PLBDBG_LOGON=127.0.0.1

#==============================================================================
#
# Server Configuration
#
#==============================================================================

#...............................................................................
# Use Server System IP addresses to allow access from devices
# on a network or internet.
#
# PLBWEB_HOSTNAME and PLBWEB_PORTNUM define the IP address
# and the port number of the PLBWEBSRV listening socket that is used
# to perform administrative commands like '-f', '-t', '-r',...etc.
#
PLBWEB_HOSTNAME=127.0.0.1

#...............................................................................
# TCP/IP Port number for the computer running PLBWEBSRV
#
PLBWEB_PORTNUM=2102

#------------------------------------------------------------------------------
# Local TCP/IP Address of the computer running PLBWEBSRV.  There is no default.
# This keyword is optional and only needed if you have more than one IP address
# on the computer running PLBWEBSRV.  In this case it is used to specify which
# network to use when connecting to PLBWEBSRV for administrative tasks.  The
# value can be either an absolute address or a URL.
#
# PLBWEB_LOCALIP=127.0.0.1

#...............................................................................
# This optional parameter specifies a user provided public encryption key.
#
# PLBWEB_PUBLIC={public key}
 
#...............................................................................
# This optional keyword overrides a previously installed authorization number
# for the server.  Note, that this keyword still requires that a valid
# installed keyword must exist before the PLBWEB_AUTH authorization can be used as
# an override.
#
# PLBWEB_AUTH=1111-2222-3333-4444-5555-6666
# PLBWEB_AUTH_TEMP=1111-2222-3333-4444-5555-6666
 
#...............................................................................
# This optional keyword enables server logging.  If this keyword is not defined
# server logging is disabled.  Server logging provides date information about
# processing and any errors that might occur.
#
PLBWEB_LOGNAME=./logs/pwslocal_@D_@T.log
# PLBWEB_LOG_HTTP=0
# PLBWEB_LOG_RECSIZE=0
# PLBWEB_LOG_RECVAR=OFF
PLBWEB_LOGMAX=20000

#...............................................................................
# These keywords configure HTML interaction
#
PLBWEB_ROOT=../http_root
# PLBWEB_USE_UI99A=OFF
# PLBWEB_USE_WEBVIEW=OFF
# PLBWEB_USER_CSS=myprogram.css
# PLBWEB_VDATALIST=ON
# PLBWEB_VDATALIST_SORT=0

#...............................................................................
# PLBWEB_PROGRAM_ROOT={drive:path} can be used to specify a root directory
# where PLB programs are directly executed as specified in the browser URL.
# When PLBWEB_PROGRAM_ROOT is used, the PLB program specified in the browser
# URL MUST exist in the directory or a relative sub-directory specified in the
# PLBWEB_PROGRAM_ROOT keyword.
#
# PLBWEB_PROGRAM_ROOT=\applicationDir\programs

#...............................................................................
# Default program exit HTML pages when keywords are NOT used are:
# 'plbwebmenu.html' and 'plbweberror.html'.
# You can specified your own behaviors by using the following keywords.
#
# The following keywords invoke a specific PLB program when a PLB program
# is terminated. In this case, a default 'answer' program is being used.
#
# PLBWEB_MENU=answer.plc
# PLBWEB_ERROR=answer.plc

# The following keywords invoke the default 'index.html' web page
# when a PLB program is terminated.
#
# PLBWEB_MENU=index.html
# PLBWEB_ERROR=index.html

# The following keywords invoke the default 'plbwebclose.html' web page
# when a PLB program is terminated. When a 'Firefox' browser is being
# used, the 'plbwebclose.html' returns to the browser home page because
# the 'Firefox' browser does not close a browser window due to security
# restrictions. For other browsers the browser window is closed when the
# 'plbwebclose.html' page is executed after a PLB program is terminated.

PLBWEB_DEFAULT=
PLBWEB_MENU=plbwebclose.html
PLBWEB_ERROR=plbweberror.html 

# The following keywords invoke the default 'plbwebclose.html' web page
# when a PLB program is terminated. This is a shorthand format.
#
# PLBWEB_MENU=~
# PLBWEB_ERROR=~

#...............................................................................
# PLBWEB_ADDRESS defines the IP address and optional port number
# that PL/B Web applications use to access the PLBWEBSRV server.
#
#
# PLBWEB_ADDRESS=127.0.0.1:8081		;Default Local
# PLBWEB_ADDRESS=xxx.xxx.xxx.xxx:8081	;Network
# PLBWEB_ADDRESS=www.website.com:8081	;Network
PLBWEB_ADDRESS=0.0.0.0:8081		;Generic Network
#

#==============================================================================
#
# General Configuration
#
#==============================================================================

# PLBWEB_APSPOOL=0
# PLBWEB_DEFAULTCWD=\temp\PLBWEB
# PLBWEB_EXTRA_HDRS=X-Frame-Options: DENY\nServer: Tester\n
# PLBWEB_EXTRACT_IMAGES=ON
# PLBWEB_HTTPTASK_DEBUG=OFF

# PLBWEB_IDLETERM=plbwebidleterm.html
# PLBWEB_IDLE_MAX_TIMEOUT=1440
# PLBWEB_IDLE_TIMEOUT=15

# PLBWEB_IMAGES=images
# PLBWEB_LINGER=0 

#...............................................................................
# This option keyword specifies the amount of memory in bytes allocated for the
# virtual program space.  If this keyword is not defined, the default virtual
# program space size is set to 4096000 bytes.
#
# If this keyword is specified in the PLBWEBSRV.INI file, it is used when any
# server child task is created.
#
# The amount of memory for any given client task can be specified by the -mv
# option on the command line
#
# PLBWEB_MAXPROGVMEM=0

#...............................................................................
# This optional keyword limits the number of simultaneous client users that can
# access the server.  Note, that the current authorization number used by the
# PLBSERVE task identifies the maximum number of clients that can logon.  This
# keyword can be used to further limit the clients for some situations.
#
# PLBWEB_MAX_TASKS={count}

# PLBWEB_MSG_TIMEOUT=10
# PLBWEB_MSGBUFFER=ON

#...............................................................................
# This optional keyword specifies the maximum buffer size used when the server
# task communicates with the client.  If this keyword is not defined, a default
# message buffer size of 10240 is assumed.
#
# PLBCS_MSGBUFFSIZE={size}

# PLBWEB_MSGCOMPRESS=ON
# PLBWEB_NOCLIENT=OFF
# PLBWEB_NUMBERTYPE=ON
# PLBWEB_SAVETOCLIENT=savetoclient
# PLBWEB_SUSPEND_MAX_TIMEOUT=60
# PLBWEB_TERMTIME=0
# PLBWEB_TOPDOWN=OFF

#...............................................................................
# If set to 1 then the default main window is hidden when clients log into the
# system.  If set to 0 then the main window is visible.  Can be overridden in
# the program by a WINSHOW or WINHIDE instruction.
#
# PLBWEB_WINHIDE=0

#==============================================================================
#
# Security Configuration
#
#==============================================================================

# PLBWEB_ANONYMOUS=OFF
# PLBWEB_BLACKLIST_FILE=myblacklist.txt
# PLBWEB_BLACKLIST_REPORT=myreport.txt
# PLBWEB_IPFILE=ipfilter.cfg
# PLBWEB_HTTP_ERROR_URL=OFF
# PLBWEB_HTTP_PROGERR_INFO=ON
# PLBWEB_PROGDD=ON

#==============================================================================
#
# SSL Configuration
#
#==============================================================================

# PLBWEB_SSL_1_1_USED=OFF

# PLBWEB_SSL_ACCEPT_MAX=50
# PLBWEB_SSL_ACCEPT_TIMEOUT=60

# PLBWEB_SSL_ADDRESS=127.0.0.1:8082
# PLBWEB_SSL_BLACKLIST_FILE=myblacklist.txt
# PLBWEB_SSL_BLACKLIST_REPORT=myreport.txt
# PLBWEB_SSL_CERTFILE=cacert.pem
# PLBWEB_SSL_CHAINCERT=ON
# PLBWEB_SSL_DEFAULT=
# PLBWEB_SSL_ERROR_URL=OFF
# PLBWEB_SSL_LOCKOUT_MAX=5
# PLBWEB_SSL_PROGERR_INFO=ON
# PLBWEB_SSL_PROGRAM_ROOT=\applicationDir\programs
# PLBWEB_SSL_PROTOCOL=1
# PLBWEB_SSL_ROOT=../http_root
# PLBWEB_SSL_SELFSIGNED=OFF
# PLBWEB_SSL_SETCIPHER=ALL
# PLBWEB_SSL_SHUTDOWN=OFF
# PLBWEB_SSL_KEYFILE=privkey.pem


#==============================================================================
#
# PlbWebCli Configuration
#
#==============================================================================

# PLBWEB_ANDROID_NEXT_FIX=OFF
# PLBWEB_APP_CSS=ON
# PLBWEB_APP_IMAGE_URL=http://www.mypws.com:8081/
# PLBWEB_APP_IMAGE_SSL_URL=https://www.mypws.com:8082/
# PLBWEB_APP_SUPPORT=ON
# PLBWEB_UPLOADS=uploads


#==============================================================================
#
# FTP Configuration
#
#==============================================================================

# PLBFTP_ADDRESS=127.0.0.1:8083
# PLBFTP_ROOT=..\ftp_root
# PLBFTP_ALLOW_ANON=OFF
# PLBFTP_IDLE_TIMEOUT=15
# PLBFTP_LINGER=0
# PLBFTP_LOG_FTP=0
# PLBFTP_PASV_PORT=50000
# PLBFTP_SESSION_MAX=5
# PLBFTP_SRVRECVTIMEOUT=20

# PLBFTP_SSL_1_1_USED=OFF
# PLBFTP_SSL_ONLY=OFF
# PLBFTP_SSL_IMPLICIT=OFF
# PLBFTP_SSL_BLACKLIST_FILE=plbwebsrv_ssl_blacklist.txt
# PLBFTP_SSL_CERTFILE=mycert.pem
# PLBWEB_SSL_CHAINCERT=ON
# PLBFTP_SSL_KEYFILE=mykey.pem
# PLBFTP_SSL_LOCKOUT_MAX=5
# PLBFTP_SSL_PROTOCOL=1
# PLBFTP_SSL_SELFSIGNED=OFF
# PLBFTP_SSL_SETCIPHER=ALL

#==============================================================================
#
# FTP Users
#
#==============================================================================

# PLBFTP_USER_<name>=<sha1 hash password>,DLRUPM,<path>
# PLBFTP_USER_anonymous=8BE3C943B1609FFFBFC51AAD666D0A04ADF83C9D,DL,.\public\
# PLBFTP_USER_TEST=8BE3C943B1609FFFBFC51AAD666D0A04ADF83C9D,DL,.\testarea\

#==============================================================================
#
# PHP Configuration
#
#==============================================================================

# PLBWEB_PHP_LOCATION=\sunbelt\php\
# PLBWEB_PHP_MAX_COUNT=0
# PLBWEB_PHP_PORTNUM=9000
# PLBWEB_PHP_SSL=BOTH
# PLBWEB_PHP_USE_FCGI=OFF

#==============================================================================
#
# CGI Configuration (PHP and REST)
#
#==============================================================================

# PLBWEB_CGI_ERRLEVEL=0
# PLBWEB_CGI_INFODIR=.\pwstmp\z_
# PLBWEB_CGI_KEEP=OFF
# PLBWEB_CGI_TIMEOUT=10

#==============================================================================
#
# REST Configuration 
#
#==============================================================================

# PLBWEB_REST_AUTH_REALM01=PL/B Services
# PLBWEB_REST_BASEURL01=MyServices/
# PLBWEB_REST_CMDLINE01=plbwin -h %s %s
# PLBWEB_REST_MAX_COUNT01=5
# PLBWEB_REST_PORTNUM01=9000
# PLBWEB_REST_SSL01=BOTH
# PLBWEB_REST_USE_ENV01=OFF
# PLBWEB_REST_USE_FCGI01=OFF

#==============================================================================
#
# Administration Configuration
#
#==============================================================================

#...............................................................................
# This parameter specifies whether the main admin task is created.  A value of
# OFF prevents the main admin task from being created.  A value of ON creates a
# main admin task.  If the parameter is not found, the main admin task is
# created only if an ADMIN_HOSTNAME, or a server log file (DM_LOGNAME,
# DM_LOGFILE, PLBCS_LOGNAME, PLBCS_LOGFILE, or PLBWEB_LOGNAME) is
# found.
#
ADMIN_SUPPORT=ON

#...............................................................................
# This parameter specifies an I/P address for the admin logon task.  If the
# parameter is not found, no admin logon task is created.  If no admin logon
# task is created an ADMLOGON statement only works with the 'local' option for
# an I/P address.
#
# ADMIN_HOSTNAME=127.0.0.1

#...............................................................................
# This parameter specifies a port number for the admin logon task.  
#
# ADMIN_PORTNUM=2103

#...............................................................................
# This parameter specifies a user provided public encryption key.
#
# ADMIN_PUBLIC={public key}

#...............................................................................
# This parameter can be used to turn OFF local PL/B runtime ADMIN access
#
# ADMIN_LOCALACCESS={ON|OFF}

#...............................................................................
# This keyword controls output of administrative data from the server.  The
# keyword specifies whether a child task should start with logging ON or OFF.
# The default is setting is ON.
#
# ADMIN_LOGCHILD={ON|OFF}

#...............................................................................
# This parameter specifies the starting log level for all tasks.  The default
# is log level 0.
#
# ADMIN_LOGLEVEL={value}

#...............................................................................
# This parameter specifies a user-defined logon key for administration purposes.
#
# ADMIN_LOGON=AF91C602424E880E

#...............................................................................
# This parameter controls access to the administrative features via the main logon
#
# ADMIN_MAINLOGON=ON

#...............................................................................
# This parameter controls the server icon inserted in the Windows Taskbar 
#
ADMIN_SHELLICON=ON

#...............................................................................
# This parameter allows designation of a descriptive server name string
#
ADMIN_SRVNAME=PL/B Web Server

#...............................................................................
# These parameters provide Administrative EMail Support
#
# ADMIN_MAIL=OFF
# ADMIN_MAIL_MAXUSERS=ON
# ADMIN_MAIL_SHUTDOWN=ON
# ADMIN_MAIL_STARTUP=ON

# ADMIN_MAIL_BCC={bcc}
# ADMIN_MAIL_CC={cc}
# ADMIN_MAIL_DSNRECEIPT=Never
# ADMIN_MAIL_FCGIERRORS=OFF 
# ADMIN_MAIL_FROM={from}
# ADMIN_MAIL_MDNRECEIPT=OFF
# ADMIN_MAIL_OUT={out}
# ADMIN_MAIL_PASSWORD={password}
# ADMIN_MAIL_PORT=25
# ADMIN_MAIL_REPLYTO={replyto}
# ADMIN_MAIL_RETURN=Full
# ADMIN_MAIL_SSL=OFF
# ADMIN_MAIL_SUBJECT=PLBWebSrv Administrator Message
# ADMIN_MAIL_TIMEOUT={timeout}
# ADMIN_MAIL_TO={to}
# ADMIN_MAIL_TRACE=mytrace.txt
# ADMIN_MAIL_TRACEAPPEND=mytrace.txt
# ADMIN_MAIL_USER={user}
# 

#...............................................................................
# These parameters provide Administrative Error Support
#
# ADMIN_REPORT_GPF=OFF
# ADMIN_HTTP_ADDR=127.0.0.1
# ADMIN_HTTP_COMMAND=/suncgi.exe

#...............................................................................
# This parameter specifies a filter for data kept by the main admin task.  This
# parameter is a quoted string of comma delimited integers, or integer
# ranges(x-x). Each integer represents a data type (same data types as used in
# the ADMGETINFO statement). This causes all data items to be cleared and items
# specified in the string to be set for collection. (i.e. - "1,20-22" would
# cause collection of data items 1, 20, 21 and 22.)
#
# ADMIN_DATASET={string}

#------------------------------------------------------------------------------
# This parameter is like the ADMIN_DATASET parameter, but starts with all data
# items set and clears the items specified by the string.  This parameter is
# not used if the ADMIN_DATASET parameter is specified.  If neither
# ADMIN_DATACLR or ADMIN_DATASET is used, all data items are collected.                                         
#
# ADMIN_DATACLR={string}

#...............................................................................
# This optional keyword allows the Web Server to perform IP address
# filtering when attempts are made to gain administrative access to the server.
# See the Application Server Reference for more information.
#
# ADMIN_IPFILE={filename}

#...............................................................................
# This parameter specifies a LOGON key file. See the Application Server
# Reference for more information.
#
# ADMIN_KEYFILE={filename}

#==============================================================================
#
# End of configuration information
#
#==============================================================================


